<ion-header>

  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar [formControl]="searchControl" mode="md" animated type="text"
      [attr.placeholder]="'COMMON.SEARCH' | translate" showCancelButton="always" cancelButtonIcon="md-backspace"
      (ionCancel)="toggleSearchbar('clear')"></ion-searchbar>
  </ion-toolbar>


  <ion-toolbar *ngIf="!showSearchbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" fill="clear" size="small">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ 'MENU.TITLE' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="sync()">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" (click)="toggleSearchbar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" routerLink="/cart">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <table-preview></table-preview> -->
  <ng-container *ngIf="menuItems$ | async as menuItems">
    <!-- menuItems are found -->
    <ion-grid *ngIf="menuItems.length">
      <ion-row>
        <ion-col class="ion-align-self-end" sizeLg="3" sizeMd="4" sizeXs="12" *ngFor="let menuItem of menuItems">
          <menu-item [item]="menuItem" (onSelect)="selectMenu($event)"></menu-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- * No menuItems are found -->
    <ion-grid *ngIf="!menuItems.length">
      <ion-row class="ion-align-items-center">
        <ion-col>
          {{ 'COMMON.NOT_FOUND' | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>
</ion-content>