<ion-buttons slot="start">
  <ion-label class="ion-text-center">
    <div>
      <ion-icon src="assets/icon/table.svg" size="small"></ion-icon> 
      <ion-note> {{ item.tableNumber }} </ion-note>
    </div>
  </ion-label>

  <ion-label class="ion-text-center">
    <div>
      <ion-icon name="link" size="small"></ion-icon> 
      <ion-note> {{ item.seat }} </ion-note>
    </div>
  </ion-label>

  <ion-label class="ion-text-center">
    <ion-icon name="people" size="small"></ion-icon> 
    <ion-note> {{ item.people }} </ion-note>
  </ion-label>
</ion-buttons>





<!-- <div>
        <ion-icon name="cube" size="small"></ion-icon> <br />
        <ion-note> {{ item.tableNumber }} </ion-note>
      </div>

      <div>
        <ion-icon name="link" size="small"></ion-icon> <br />
        <ion-note> {{ item.seat }} </ion-note>
      </div>

      <div>
        <ion-icon name="people" size="small"></ion-icon> <br />
        <ion-note> {{ item.people }} </ion-note>
      </div> -->