<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button routerLink="/home" fill="clear" size="small">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    {{ 'HISTORY.TITLE' | translate }}
    <ion-buttons slot='end'>
      <ion-button fill="clear" size="small" (click)="sync()">
        <ion-icon slot="icon-only" name="sync"></ion-icon>
      </ion-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <table-preview></table-preview> -->

  <ng-container *ngIf="historyItems$ | async as historyItems">
    <!-- mealItems are found -->
    <ion-list *ngIf="historyItems.length">
      <history-item *ngFor="let historyItem of historyItems" [item]="historyItem"
        (delete)='onHistoryDelete(historyItem)'>
        <!-- (edit)="onCartEdit(cartItem)"
          (delete)="onCartDelete(cartItem)" -->
      </history-item>

    </ion-list>

    <!-- * No mealItems are found -->
    <ion-grid *ngIf="!historyItems.length">
      <ion-row class="ion-align-items-center">
        <ion-col>
          {{ 'COMMON.NOT_FOUND' | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>



    <!-- <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-button fill="clear" (click)="presentAlert(items)" size="small">
            <ion-label class="other-label" color="danger">
              {{ 'CART.OTHER' | translate }}
            </ion-label>
          </ion-button>
        </ion-buttons> -->

    <!-- <ng-container *ngIf='cartItems$ | async as cartItems'>
          <ng-container *ngIf='total$ | async as total'>
            <ion-buttons slot="end">
              <ion-button fill="solid" (click)="submit(cartItems, total)" color="success" size="large">
                <ion-label>
                  {{ 'CART.COMPLETE' | translate }}
                </ion-label>
              </ion-button>
            </ion-buttons>
          </ng-container>
        </ng-container>
  
      </ion-item>
      <ng-container *ngIf='total$ | async as total'>
        <h1>{{total}}</h1>
  
      </ng-container>
   -->





  </ng-container>
</ion-content>